<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="assets/ACIlogo.jpg" style="height: 60px;">

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link fcw" href="#">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fcw" href="#" style="background-color: #ed4c4c">BUSINESS INTELLIGENCE</a>
            </li>
            <li class="nav-item">
                <select style="margin-top: 9px;
                border: none;
                background-color: #f8f9fa;
                color: #7c7373;">
                    <option><a class="nav-link fcw" href="#">USERS</a></option>
                </select>
            </li>
        </ul>
    </div>
    <div>
        <span>
        <i class="fa fa-search pr fcw" ></i></span>
        <span>
        <i class="fa fa-user pr fcw"></i>
    </span>
        <span>
        <select style="margin-top: 9px;
        border: none;
        background-color: #f8f9fa;
        color: #7c7373;">
            <option><a class="nav-link pr" href="#">Johnsmith</a></option>
        </select>
    </span>
        <span><i class="fa fa-bell pr"></i></span>
        <span class="pr" style="background-color: #ed4c4c">300</span>
    </div>

</nav>